<nav class="header navbar navbar-light bg-light">
  <a class="navbar-brand font-weight-bold" href="#"
    ><img src="/TicketTac/train.png" alt="logo" class="logo pr-3" />Ticketac
  </a>
  <ul class="navbar-nav flex-row">
    <li class="nav-item active">
      <a class="nav-link text-danger text-white font-weight-bold pr-5" href="#"
        >Connection</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link pr-5" href="#">My last trips</a>
    </li>
  </ul>
</nav>
