* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  height: 100vh;
  color: #f8edeb;
  letter-spacing: 1px;
  word-spacing: 2px;
  background: #7db9e8; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #c6def0 0%,
    #7db9e8 49%,
    #1c4a7e 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #c6def0 0%,
    #7db9e8 49%,
    #183d68 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #d9edfc 0%,
    #6eb1e4 49%,
    #125db3 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

section {
  padding-top: 80px;
}

/* logo image navbar */

.logo {
  width: 55px;
}

/* login page */
.login-form {
  color: #f8edeb;
  letter-spacing: 1px;
  word-spacing: 2px;
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.form-group {
  margin-bottom: 1.1rem;
}

/* Homepage */

.image-bg {
  background-image: url("/images/landmark.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 250px;
  height: 80vh;
}

/* success */
.list-group-item {
  padding: 35px 30px;
}

.table td,
.table th {
  padding: 1.15rem;
}

/* pop up */
h5 {
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
  border-radius: 10px;
  padding: 10px 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.pop-up {
  padding: 10px;
  color: rgb(155, 155, 155);
}

.modal-content {
  background: -moz-linear-gradient(
    top,
    #c6def0 0%,
    #7db9e8 49%,
    #1c4a7e 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #c6def0 0%,
    #7db9e8 49%,
    #183d68 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #d9edfc 0%,
    #6eb1e4 49%,
    #125db3 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* footer */

footer {
  color: rgba(169, 169, 168, 0.5);
}
