* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  min-height: 100vh;
  color: #f8edeb;
  letter-spacing: 1px;
  word-spacing: 2px;
  background: #7db9e8; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #abd0ec 0%,
    #7db9e8 49%,
    #1e5799 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #abd0ec 0%,
    #7db9e8 49%,
    #1e5799 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #abd0ec 0%,
    #7db9e8 49%,
    #4579b4 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

section {
  padding-top: 80px;
}

/* logo image navbar */

.logo {
  width: 55px;
}

/* login page */
.login-form {
  color: #f8edeb;
  letter-spacing: 1px;
  word-spacing: 2px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group {
  margin-bottom: 1.1rem;
}

/* Homepage */

.image-bg {
  background-image: url("/images/landmark.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 300px;
  height: 100vh;
}

/* footer */

footer {
  color: #f0efeb;
}
